
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// < 576px
@mixin xs {
  @media screen and (max-width: 576px) {
    @content;
  }
}

// >= 576px
@mixin sm {
  @media screen and (min-width: 576px) {
    @content;
  }
}

// >= 768px
@mixin md {
  @media screen and (max-width: 768px) {
    @content;
  }
}

// >= 992px
@mixin lg {
  @media screen and (max-width: 992px) {
    @content;
  }
}

// >= 1200px
@mixin xl {
  @media screen and (max-width: 1200px) {
    @content;
  }
}